.book {
  margin: 2rem 0;

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: rgb(238, 235, 235);
  }

  &__img {
    width: 250px;
    height: auto;
    object-fit: cover;
    box-shadow: 5px 10px 25px rgba(5, 5, 5, 0.2);
  }

  &__category {
    color: gray;
    font-size: 1rem;
    margin: 1.5rem 0;
  }

  &__title {
    font-weight: bold;
    color: black;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2.2rem;
  }

  &__authors {
    color: gray;
    text-decoration: underline;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  &__description {
    border: 1px solid rgba(5, 5, 5, 0.2);
    padding: 1rem;
    margin-top: 1.5rem;
  }
}
